<h1><%= @item.name %>: </h1>

<h3>
	<%= @item.description %>
</h3>

<%= link_to 'Edit Item', edit_item_path(@item)  %>

<%= link_to 'Delete Item', item_path(@item), method: :delete %> 

<%= link_to 'All Items', items_path %>